{% extends "skel.html" %}

{% block title %}Billing{% endblock %}

{% block container %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Start Time</th>
            <th scope="col">Stop Time</th>
            <th scope="col">Minutes</th>
            <th scope="col">Cost</th>
            </tr>
        </thead>
        {% for bill in bills %}
        <tbody>
            <tr>
            <td>{{bill['start']}}</td>
            <td>{{bill['stop']}}</td>
            <td>{{bill['minutes']}}</td>
            <td>{{bill['cost']}}</td>
        </tr>
        {% endfor %}


        </tbody>
        </table>
{% endblock %}
