{% block title %}Create Container{% endblock %}

{% block container %}
<form method="post" class="d-flex justify-content-center flex-column align-items-center h-100">
  <h1>Create Container</h1>
  <div class="col-6">
    <label>Container name</label>
    <input type="text" name="name" placeholder="ex: My nginx server" class="form-control" required />
    <br />
  </div>
  <div class="col-6">
    <label>From image:</label>
    <input type="text" name="image" placeholder="ex: nginx" class="form-control" required />
    <br />
  </div>
  <div class="col-6">
  <label>Container port (to be forwarded):</label>
  <input type="number" name="container_port" placeholder="ex: 80" class="form-control" required />
  <br />
  </div>
  <button type="submit" class="my-3 btn btn-primary btn-lg">Create</button>
</form>
{% endblock %}