{% extends "skel.html" %}
{% block title %}Dashboard{% endblock %}
{% block container %}
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img class="d-block my-2"
         src="{{ url_for('static', filename='logo.svg') }}"
         alt=""
         width="150"
         height="120">
    <h1>Dockurr</h1>
  </div>
  <div class="mt-5 d-flex flex-column flex-lg-row justify-content-between">
    <h5>Welcome, <i>{{ g.username }}</i>!</h5>
    <div class="">
      <a class="btn btn-success mx-2"
         role="button"
         href="{{ url_for("views.create_container") }}">Create container</a>
      <a class="btn btn-success btn-danger"
         role="button"
         href="{{ url_for("views.logout") }}">Logout</a>
    </div>
  </div>
  {% for container in containers %}
    <div class="card my-4">
      <div class="card-header">
        <h3><b>{{ container.name }}</b></h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">Image:</div>
          <div class="col">{{ container.image }}</div>
        </div>
        <div class="row font-sm">
          <div class="col-sm-3">Internal ID:</div>
          <code class="col d-inline-block text-truncate" style="max-width: 30vw">{{ container.internal_id }}</code>
        </div>
        <div class="row font-sm">
          <div class="col-sm-3">Status:</div>
          <div class="col">{{ container.status }}</div>
        </div>
        <div class="row font-sm">
          <div class="col-sm-3">Forwarded port:</div>
          <div class="col">
            container:{{ container.container_port }} 
            &harr;
            <a href="http://localhost:{{container.public_port}}" class="text-decoration-none" target="_blank">
              host:{{container.public_port}}
            </a>
          </div>
        </div>
        <div class="pt-3 pb-1">
          <a class="btn btn-primary mb-1 {% if not container.status.runnable %}disabled{% endif %}"
             href="{{ url_for('views.start_container', id=container.id) }}"
             type="button"
             disabled>Start</a>
          <a class="btn btn-warning mb-1 {% if not container.status.stoppable %}disabled{% endif %}"
             href="{{ url_for('views.stop_container', id=container.id) }}">Stop</a>
          <a class="btn btn-danger mb-1"
             href="{{ url_for('views.delete_container', id=container.id) }}" onclick="return confirm('Are you sure?')">Delete</a>
          <a class="btn btn-danger mb-1"
             href="{{ url_for('views.schedule_container', id=container.id) }}">Schedule</a>
          <a class="btn btn-primary mb-1"
             href="{{ url_for('views.container_billing', id=container.id) }}">View Billing</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

