{% extends "skel.html" %}

{% block title %}Schedule Container{% endblock %}

{% block container %}
<h1>Schedule Container: {{container.name}}</h1>
<form method="post">
  <input type="checkbox" name="scheduled" {% if container.scheduled %}checked{% endif %}>
  <label>Enable</label>
  <br />
  <label>Start hour</label>
  <input type="number" name="start_hour" value="{{ container.start_hour }}">
  <br />
  <label>Start minute</label>
  <input type="number" name="start_minute" value="{{ container.start_minute }}">
  <br />
  <label>Stop hour</label>
  <input type="number" name="stop_hour" value="{{ container.stop_hour }}">
  <br />
  <label>Stop minute</label>
  <input type="number" name="stop_minute" value="{{ container.stop_minute }}">
  <br />
  <button type="submit">Schedule</button>
  <!--TODO: implementasi prefill start/stop sesuai container -->
</form>
{% endblock %}
